### 1. Count numbers
Use a for statement to count from:

  a)   -10 to 10 with one increment (*)
  
  b)   -10 to 10 with two increment (*)

In [15]:
for i in range(-10,11): # start, stop, step
    print(i, "\t", end='') #  \t = tab

-10 	-9 	-8 	-7 	-6 	-5 	-4 	-3 	-2 	-1 	0 	1 	2 	3 	4 	5 	6 	7 	8 	9 	10

In [17]:
for i in range(-10,11,2):   # start, stop, step
    print(i, "\t", end='') #  \t = tab

-10 	-8 	-6 	-4 	-2 	0 	2 	4 	6 	8 	10

### 2. Arithmetic sum

a) sum = 1 + 2 (...) + 99 + 100

b) sum = 1 + 3 (...) +97 +  99

In [39]:
b = 0
for a in range(1,101):
   b += a
   
print(b)

5050

In [40]:
b = 0
for a in range(1,101,2):
   b += a
   
print(b)

2500

### 3. Multiplication table 
Use for statement(s) to:

  a)   print out the 6th multiplication table from 0 to 10 (*)

  b)   let the user input the table, start and end of the table. (*)

  c)   print out a full multiplication table from 0 to 10. (**)

In [ ]:
#a) 
for i in range(9):
    print(6 * 6)